body, html {
  position: relative;
  background: black;
  padding: 0;
  margin: 0;
}
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.nav-bar {
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
}
.nav-bar ul {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.user-container {
  padding: 1rem;
}
.user-container p {
  color: white;
}
.map-container {
  margin: 0 auto;
  padding: 0 25vmax;
  width: 25vmax;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
}
.map-container h3 {
  text-align: center;
  color: white;
}
.map-canvas {
  height: 33vmax;
  width: 33vmax;
  position: relative;
  
}
.map-point {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, .5);
}
.map-point .map-point-meta {
  display: none;
}
.map-point:hover .map-point-meta {
  position: absolute;
  bottom: 0;
  z-index: 999;
  width: 20vmax;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  color: white;
  border: 1px solid rgba(255, 255, 255, .25);
  background: rgba(0,0,0,.75);
}